@import url(http://fonts.googleapis.com/css?family=Rock+Salt);

html,body { height: 100%; margin: 0px; padding: 0px; }

body {
    background-color: #ffffff;
    font-family: avenir, 'avenir next', helvetica, arial, sans-serif;
    text-align: center;
}

*::-webkit-input-placeholder {
    color: #aaa;
}    
*:-moz-placeholder {
    color: #aaa;
}
*::-moz-placeholder {
    color: #aaa;
}    
*:-ms-input-placeholder {
    color: #aaa;
}

a {
    color: #404040;
}

#grid {
    width: 100%;
    height: calc(100%);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#grid > iframe {
    margin: 0px;
    padding: 0px;
}

#header {
    display: block;
}

#logo:before {
    content: "SoundWall";
    color: #404040;
    font-size: 2.1em;
    font-family: 'Rock Salt', cursive;
}

#logo {
    vertical-align: middle;
    font-size: 1em;
}

.btn-circle {
    margin-bottom: 10px;
    margin-left: 10px;
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 13px;
    line-height: 1.42;
    border-radius: 50%;
}

#search {
    vertical-align: middle;
    height: 50px;
}

#searchterm {
    width: 90%;
    max-width: 400px;
    margin-top: 5px;
    height: 40px;
    font-size: 18px;
    border-radius: 8px;
    border: 0;
    color: #111;
    background: rgba(0,0,0,.1);
    padding: 10px;
    outline: 0px;
    box-shadow: 0 1px 0 rgba(255,255,255,.15), 
                0 2px 4px rgba(0,0,0,.2) inset, 
                0 0 12px rgba(255,255,255,.1);
}

#stuff {
    height: 50px;
}

.controls a:hover {
    text-decoration: none;
}

iframe {
    opacity: 0.3;
}

iframe.active {
    /*border: 2px solid #01FF70;*/
    opacity: 1;
}

a.mute {
    font-size: 2.5em;
    text-decoration: none;
    margin-top: 10px;
    color: #AAAAAA;
}

a.mute:hover {
    text-decoration: none;
    color: #AAAAAA;
}

a.allMuted {
    color: #FF4136;
}

a.allMuted:hover {
    color: #FF4136;
}

.share {
    display: inline-block;
    color: #FFF;
    font-size: 32px;
    padding-top: 7px;
    height: 50px;
    vertical-align: middle;
    width: 80px;
}

.share:hover {
    opacity: 0.7;
}

.sbg-facebook {
    background: #3971B6;
}

.sbg-twitter {
    background: #A0D6E2;
}

.sbg-github {
    background: #333333;
}
