@import url(http://fonts.googleapis.com/css?family=Rock+Salt);

html,body { height: 100%; margin: 0px; padding: 0px; }

body {
    background-color: #ffffff;
    font-family: avenir, 'avenir next', helvetica, arial, sans-serif;
    text-align: center;
}

*::-webkit-input-placeholder {
    color: #aaa;
}    
*:-moz-placeholder {
    color: #aaa;
}
*::-moz-placeholder {
    color: #aaa;
}    
*:-ms-input-placeholder {
    color: #aaa;
}

a {
    color: #404040;
}

#grid {
    width: 100%;
    height: calc(100%);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#grid > iframe {
    margin: 0px;
    padding: 0px;
}

#header {
    display: block;
}

#logo:before {
    content: "SoundWall";
    color: #404040;
    font-size: 2.5em;
    font-family: 'Rock Salt', cursive;
}

#logo {
    vertical-align: middle;
    font-size: 1em;
}

.btn-circle {
    margin-bottom: 10px;
    margin-left: 10px;
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 13px;
    line-height: 1.42;
    border-radius: 50%;
}

#search {
    vertical-align: middle;
    height: 50px;
}

#searchterm {
    width: 90%;
    max-width: 400px;
    margin-top: 5px;
    height: 40px;
    font-size: 18px;
    border-radius: 8px;
    border: 0;
    color: #111;
    background: rgba(0,0,0,.1);
    padding: 10px;
    outline: 0px;
    box-shadow: 0 1px 0 rgba(255,255,255,.15), 
                0 2px 4px rgba(0,0,0,.2) inset, 
                0 0 12px rgba(255,255,255,.1);
}

#stuff {
    height: 50px;
}

.twitter-share-button, .fb-share-button, .github-button {
    margin-top: 3%;
    vertical-align: middle;
    display: inline-block;
}

iframe.github-button {
    padding: 0;
}

.mute, .unmute {
    font-size: 2em;
    text-decoration: none;
    margin-top: 10px;
}

.mute:hover, .unmute:hover {
    text-decoration: none;
}

.active {
    border: 2px solid #01FF70;
}
